flask
flask-cors
gunicorn
python-dotenv
PyPDF2
python-docx
langchain
langchain-classic
langchain-text-splitters
langchain-google-genai
langchain-community
faiss-cpu
google-generativeai
PyJWT
cryptography
requests
